@import '~@/styles/common';

.frame {
  display: inline-block;
  width: 12px;
  height: 20px;
  overflow: hidden;
  border: 1px solid @border-color;
  vertical-align: top;
  position: relative;

  background: #f4f4f4;

  &:hover {
    background: blue;
  }

  &.active {
    background: red;
  }

  &.key::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    border: 1px solid @frame-mark-color;
    background: @frame-mark-color;
    border-radius: 100%;
  }
}